.searchBox {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 1rem;
  margin: 1rem;
  width: calc(100% - 1rem);
  line-height: 30px;
  margin-bottom: 30px;
}
